<div class="new-task-container">
  <h1>CREAR NUEVA TAREA</h1>
  <div class="form-container">
      <form [formGroup]="taskForm" (ngSubmit)="onSubmitFormData()">     
        <div class="row-form">
          <div class="form-field">
            <span>Nombre de la tarea:</span>
          </div>
          <mat-form-field>
            <mat-label>Escriba el titulo Descriptivo de la asignacion</mat-label>
            <input matInput formControlName="taskName" required>
            <mat-error *ngIf="taskForm.get('taskName')?.invalid && taskForm.get('taskName')?.touched">
              El nombre debe tener al menos 3 caracteres.
            </mat-error>
          </mat-form-field>         
        </div>

        <div class="row-form">
          <div class="form-field">
            <span>Fecha límite:</span>
          </div>
          <mat-form-field>
            <mat-label>Formato día/mes/año</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dueDate">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="taskForm.get('dueDate')?.invalid && taskForm.get('dueDate')?.touched">
              Se requiere una fecha válida.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="row-form">
          <div class="form-field">
            <span>Personas asociadas:</span>
          </div>
          
          <div class="btn-container">
            <div class="my-button" (click)="selectOldDeveloper()" [ngClass]="{'selected': selectedDeveloperType === 'old'}">
              <span>
                Desarrollador antiguo
              </span>
            </div>
            <div class="my-button" (click)="selectNewDeveloper()" [ngClass]="{'selected': selectedDeveloperType === 'new'}">
              <span>
                Nuevo desarrollador
              </span>
            </div>
          </div>
        </div>

        <div *ngIf="isOldDeveloper; else newDeveloperTemplate">
          <ng-container *ngTemplateOutlet="oldDeveloperTemplate"></ng-container>
        </div>
        
        <ng-template #oldDeveloperTemplate>
          <div class="mb-3">
            <label for="developerSelect"  class="form-label">Selecciona un desarrollador</label>
            <select id="developerSelect" class="form-select" formControlName="selectedPerson" [disabled]="isLoading">
              <option value="" disabled selected>Selecciona un desarrollador</option>
              <option *ngIf="isLoading" disabled>Cargando...</option>
              <option *ngFor="let person of persons" [ngValue]="person">
                {{ person.name }} ({{ person.age }} años)
              </option>
            </select>
          </div>
          <!-- El select con angular material no tomaba los temas de estilo como debia -->
          <!-- <mat-form-field>
            <mat-label>Selecciona un desarrollador</mat-label>
            <mat-select [(value)]="selectedPerson">
                <mat-option  *ngFor="let person of persons" [value]="person">
                  {{ person.name }} ({{ person.age }} años)
                </mat-option>
            </mat-select>
          </mat-form-field> -->
          <div *ngIf="taskForm.get('selectedPerson')?.value">
            <p>Has seleccionado: {{ taskForm.get('selectedPerson')?.value.name }} de {{ taskForm.get('selectedPerson')?.value.age }} años</p>
          </div>
        </ng-template>
        
        <ng-template #newDeveloperTemplate>
          <div class="dataNewDevContainer">
            <div class="nameNewDev">
              <div class="form-field">
                <span>Nombre del desarrollador:</span>
              </div>
              <mat-form-field>
                <mat-label>Escriba el nombre completo</mat-label>
                <input matInput formControlName="newDeveloperName" required>
                <mat-error *ngIf="taskForm.get('newDeveloperName')?.invalid && taskForm.get('newDeveloperName')?.touched">
                  El nombre debe tener al menos 5 caracteres.
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <div class="form-field">
                <span>Edad:</span>
              </div>
              <mat-form-field>
                <mat-label>Escriba la edad</mat-label>
                <input type="number" matInput formControlName="newDeveloperAge" required>
                <mat-error *ngIf="taskForm.get('newDeveloperAge')?.invalid && taskForm.get('newDeveloperAge')?.touched">
                  La edad debe ser mayor de 18 años.
                </mat-error>
              </mat-form-field>
            </div> 
          </div> 
          
          <div *ngIf="newDeveloper.name && newDeveloper.age">
            <p>Nuevo desarrollador: {{ newDeveloper.name }} ({{ newDeveloper.age }} años)</p>
          </div>
        </ng-template>
     
        <div>
          <button mat-raised-button type="submit" [disabled]="taskForm.invalid && !(isOldDeveloper && taskForm.get('selectedPerson')?.value)">
            Guardar Formulario
          </button>
        </div>

      </form>
  </div>
</div>
