<div class="home-container">
 <div class="card-container">
     <mat-card class="card-home">
      <mat-card-content class="card-content">
     
       <div class="title-home">
        GESTOR DE TAREAS
       </div>
       <div class="btn-container">
        <div class="btnfos btnfos-2"
            (click)="openFormNewTask()">
            Crear Nueva Tarea
        </div>
        <div class="btnfos btnfos-2"
            (click)="openListTask()">
            Lista de Tareas
         </div>
       </div>
      </mat-card-content>
     </mat-card>
 </div>
 <div class="body-home">
    <router-outlet></router-outlet>
 </div>
</div>

